/* ================================================================================================================== */
/* FONT SIZING                                                                                                        */
/* ================================================================================================================== */

/* TODO */

/* ================================================================================================================== */
/* BOX MODEL SIZING                                                                                                   */
/* ================================================================================================================== */

.nx-box-size--combo--static {
    width: 400px !important;
    max-width: 400px !important;
    height: 210px !important;
    max-height: 210px !important;
}

.nx-box-size--static--new {
    width: 500px !important;
    max-width: 500px !important;
    height: 350px !important;
    max-height: 350px !important;
}

.nx-box-size-modal-order {
    width: 700px !important;
    max-width: 700px !important;
    height: 300px !important;
    max-height: 3000px !important;
}

.nx-box-size--combo {
    width: 33% !important;
    max-width: 33% !important;
    height: 30% !important;
    max-height: 30% !important;
}

.nx-box-size--combo-change {
    width: 400px !important;
    max-width: 400px !important;
    height: 350px !important;
    max-height: 350px !important;
}

.nx-box-size--combo-change-small {
    width: 400px !important;
    max-width: 400px !important;
    height: 250px !important;
    max-height: 250px !important;
}

.nx-box-size--200 {
    width: 300px !important;
    max-width: 300px !important;
    height: 40% !important;
    max-height: 40% !important;
}

.nx-box-size--layouttable {
    width: 700px !important;
    max-width: 700px !important;
    height: 410px !important;
    max-height: 410px !important;
}

.nx-box-size--40 {
    width: 40% !important;
    max-width: 40% !important;
    height: 60% !important;
    max-height: 60% !important;
}

.nx-box-size--50 {
    width: 50% !important;
    max-width: 50% !important;
    height: 70% !important;
    max-height: 70% !important;
}

.nx-box-size--65 {
    width: 65% !important;
    max-width: 65% !important;
    height: 80% !important;
    max-height: 80% !important;
}

.nx-box-size--60 {
    width: 60% !important;
    max-width: 60% !important;
    height: 80% !important;
    max-height: 80% !important;
}

.nx-box-size--80 {
    width: 80% !important;
    max-width: 80% !important;
    height: 90% !important;
    max-height: 90% !important;
}

.nx-box-size--94 {
    width: 80% !important;
    max-width: 80% !important;
    height: 94% !important;
    max-height: 94% !important;
}

.nx-box-size--95 {
    width: 80% !important;
    max-width: 80% !important;
    height: 95% !important;
    max-height: 95% !important;
}

.nx-box-size-height--80 {
    height: 85% !important;
    max-height: 85% !important;
}

.nx-box-size--100 {
    width: 100% !important;
    max-width: 100% !important;
    height: 100% !important;
    max-height: 100% !important;
}

.chips .input {
    width: initial !important;
}

.nx-box-size-form-60 {
    height: 55% !important;
    max-height: 55% !important;
    width: 70% !important;
    max-height: 70% !important;
}

.nx-box-size-form-63-new {
    height: 63% !important;
    max-height: 63% !important;
    width: 70% !important;
    max-height: 70% !important;
}

.nx-box-size-form-70 {
    height: 70% !important;
    max-height: 70% !important;
    width: 70% !important;
    max-height: 70% !important;
}

.nx-box-size--60-hw {
    width: 60% !important;
    max-width: 60% !important;
    height: 60% !important;
    max-height: 60% !important;
}











